.big-slider {
	.section-title {color: #24465d; text-align: center;}
	.viewport {max-width: 1600px; margin: 50px auto 0; padding: 0;}
	.slider-content {position: relative; margin: 0; padding: 0; font-size: 0; white-space: nowrap;}
	.slide {display: inline-block; position: relative; width: 100%; color: $gray; font-size: 14px; white-space: normal; vertical-align: top;
		.inside {position:relative; z-index: 2; padding: 49px 0 0;}
	}
	.slide-background {display: none;}
	.slide-content {position: relative; max-width: 475px; margin: 0 auto; padding-bottom: 45px; background: #fff;
		img {display: block; max-width: 100%;}
		.slide-button {display: block; position: absolute; right: 0; bottom: 0; height: 45px; margin: 0 0; padding: 0 34px; background: $orange; color: #fff; font: 700 18px/45px $prelo; text-transform: uppercase;
			&:hover {background-color: $blue;}
		}
		.slide-title {margin-top: 50px; color: $blue; font: 200 30px/1.3em $prelo;}
		.slide-title, p {padding: 0 10px;}
	}
	.slider-navigation {position: relative; z-index: 5; list-style: none; max-width: 1170px; margin: 0 auto -50px; padding: 0; font-size: 0;
		li {transition: $transAll; position: relative; display: inline-block; width: 16.667%; vertical-align: top;
			.img {pointer-events: none;height: 25px;top: 11px;transition: $transAll; width: 100%; text-align: center; overflow: hidden; margin: 0 auto; position: absolute; z-index: 1;/*  left: 30%; top: 30px; */}
			img {transition: $transAll;max-width: 30px; height: 50px;}
			a {display: block; position: relative; box-sizing: border-box; min-width: 50px; height: 50px; padding: 10px 0; border-left: 1px solid #e6edf3; background: #fff; line-height: 0; text-align: center; outline: none;
				&:before {display: block; width: 40px; height: 30px; margin: 0 auto; background: 50% 0 no-repeat; background-size: auto 60px; content: " "; transition: all 0.3s;}
				&.active {background: rgba(0,114,198,0.9); color: #fff;
					&:after {display: block; position: absolute; left: 50%; top: 100%; width: 0; margin-left: -10px; border-style: solid; border-width: 10px; border-color: rgba(0,114,198,0.9) transparent transparent transparent; content: " ";}
				}
			}
			&:first-child a {border-left: 0;}
			&:hover {
				a {border-left-color: $gray; background: $gray; color: #fff;
				&:after {border-color: $gray transparent transparent transparent;}
				}
				img {@include transformation(translateY(-25px));}
			}
		}
	}
}

@media (min-width: 800px) {
	.big-slider {
		.viewport {overflow: hidden;}
		.slide {
			.inside {padding-top: 150px;}
		}
		.slide-background {display: block; position: absolute; left: 0; top: 0; z-index: 0;}
		.slide-content {float: right; min-height: 570px; max-height: 570px; padding-bottom: 30px;
			.slide-button {position: absolute; right: 100%; top: 300px; height: 74px; margin: 0; line-height: 74px; white-space: nowrap;}
			.slide-title, p {padding: 0 60px;}
		}
		.section-title {font-size: 35px;}
		.slider-navigation {height: 150px; margin-bottom: -150px;
			li {
				.img { top: 30px; height: 40px;
					img { height: 80px;}
				}
				a {height: 150px; padding: 30px 10px 0; color: $gray; font: 400 14px /1.3em $prelo; text-transform: uppercase;
					&:before {width: 56px; height: 45px; margin-bottom: 25px; background-size: auto 90px;}
					&:hover {color: #fff;}
				}	
				&:hover {
					img {@include transformation(translateY(-40px));}		
				}	
			}
		}
	}
}

@media (min-width: 1050px) {
	.big-slider {
		.slider-navigation li a {padding-left: 40px; padding-right: 40px;}
	}
}