.content-search {white-space: normal; font-size: 0; margin-top: 15px; padding-left: 0; text-align: center;
	.field {display: inline-block; height: 50px; margin-bottom: 10px; box-sizing: border-box; border: 1px solid #e6e8ea; font: 300 14px/50px $prelo; vertical-align: top;

		&.select {position: relative;  width: 220px; line-height: 50px; border: 1px solid #e6e8ea; background: #fff; color: $gray; text-align: left;
			.select-val {display: block; padding: 0 20px;}
			&:after {display: block; position: absolute; right: 20px; top: 50%; margin-top: -4px; border-width: 6px 4px; border-style: solid; border-color: $gray transparent transparent transparent; content: " ";}
			select {position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 100%; padding: 0; opacity: 0; cursor: pointer; -webkit-appearance: menulist-button;
				option {padding: 10px 20px; color: $gray; border-top: 1px solid #e6e8ea;}
			}
		}
		&.searchbox {position: relative; max-width: 320px;}
		input {width: 100%; height: 48px; padding: 15px 50px 15px 30px; background: transparent; color: $gray; vertical-align: top; 
			&::-webkit-input-placeholder {color: $gray;}
		   	&::-moz-placeholder {color: $gray;}
		   	&:-ms-input-placeholder {color: $gray;}
		   	&:-moz-placeholder {color: $gray;}
		   	&:placeholder {color: $gray;}
		}
		button {position: absolute; right: 0; top: 0; width: 48px; height: 48px; background: #fff $iconSearch 50% 50% no-repeat; font-size: 0; vertical-align: top;
			&:hover {background-color: #e6e8ea;}
		}
	}
}

@media (min-width: 500px) {
	.content-search {margin-top: 0; text-align: left;}
}

@media (min-width: 1170px) {
	.content-search {
		.field {margin-left: 30px; margin-bottom: 0;
			&:first-child {margin-left: 0;}
			&.searchbox {width: 320px;}
		}
	}
	
}