.page-header {
  .header-box {
    max-width: 400px;
    text-align: right;
    display: inline-block;
    float: right;
    background: rgba(255,255,255,0.85);
    padding: 30px;
    .box-title {
      margin: 10px 0;
      color: #0072c6;
      font: 200 26px/1.3em "Prelo",sans-serif;
      text-transform: uppercase;
    }
    p {
      padding-left: 0;
      font-size: 26px;
      padding-right: 0;
    }
    button {
      background: rgba(53,68,79,0.6);
      color: #fff;
      padding: 0 30px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {background: #0072c6; transition: $transAll;}
    }
  }
}
@media (min-width: 1230px) {
  .page-header .with-box {
    margin-top: -110px;
  }
}