.article-teaser {background: #f7fafb;
	img {display: block; max-width: 100%; margin: 0 auto;}
	.article-teaser-text {box-sizing: border-box; padding: 20px; font-size: 14px;}
	.article-teaser-title {color: #424e5a; font: 400 22px/1.3em $prelo;
		a {color: #424e5a;
			&:hover {color: $blue;}
		}
	}
}

.teaser-list {margin-top: 30px;}

@media (min-width: 900px) {
	.teaser-list {margin: 40px auto;}
	.article-teaser {
		// display: flex;
		// align-items: center;
		// align-content: stretch;
		overflow: hidden;
		position: relative;

		.article-teaser-text {
			width: 50%;
			padding: 45px;
			float: left;

			position: absolute;
			top: 50%;
			@include transformation(translateY(-50%));
		}
		.article-teaser-img {
			width: 50%;
			float: right;
		}
		&:nth-of-type(2n) {
			.article-teaser-text {
				// order: 0;
				float: right;
				right: 0;
			}
			.article-teaser-img {
				// order: 1;
				float: left;
			}
		}
	}
}