.media {
	.section-title {margin-bottom: 50px;}
	.media-content img {display: block; max-width: 100%; margin: 0 auto;}
}

@media (min-width: 820px) {
	.media {padding-top: 60px;
		&:last-child {margin-bottom: 60px;}
		.media-content {float: left; width: 50%;}
		.media-description {float: right; width: 50%; padding-left: 50px; box-sizing: border-box;
			& :first-child {margin-top: 0;}
		}
	}
}