.numbers {margin: 40px -5px;
	.number-box {background: $lgray; padding: 30px; border-width: 0 5px; border-color: #fff; border-style: solid; font-size: 14px; line-height: 1.5em; text-align: center; }
	.number {margin: 0.5em 0; color: #24465d; font: 900 30px/1.5em $prelo;}
}