.footer {background: $lgray;
	.menu {list-style: none; margin: 0; padding: 0;
		li {padding: 5px 0;}
		a {color: $gray; font: 300 14px/1.3em $prelo;
			&:hover {color: $blue;}
		}
	}

	.social {margin: 0 0 20px; padding: 0; list-style: none; font-size: 0; text-align: center;
		li {display: inline-block; margin: 0 0 0 10px; background-size: 100% 200%; @include transition(); height: 56px; width: 56px;
			&:first-child {margin: 0;}
			&:hover {background-position: 0 -100%;}
			.img {
				line-height: 56px;
			  img {
			  	vertical-align: middle;
			  	max-height: 22px;
			  }
			}
		}
		li:nth-of-type(1)  {@include linearGradient(#838e96, #D44132);} //g+
		li:nth-of-type(2)  {@include linearGradient(#838e96, #B62025);} //youtube
		li:nth-of-type(3)  {@include linearGradient(#838e96, #00ACED);} //twitter
		li:nth-of-type(4)  {@include linearGradient(#838e96, #1D87BD);} //linkedin
		li:nth-of-type(5)  {@include linearGradient(#838e96, #00BD8E);} //vine
	}
}

.footer-teaser {position: relative; z-index: 0; padding-bottom: 40px; background: #24465d 0 50% no-repeat; text-align: left; white-space: normal;
	&:before {display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background: #24465d; opacity: 0.75; content: " ";}
	.footer-teaser-title {position: relative; z-index: 2; margin: 0 30px 0.5em; padding-top: 25px; color: $orange; font: 300 18px/1.2em $prelo; text-transform: uppercase;}
	p {position: relative; z-index: 2; margin: 1em 30px; color: #fff; font-size: 14px; line-height: 1.5em;}
	.more {position: absolute; right: 0; bottom: 0; margin: 1em 0 0 0; text-align: right;
		a {padding: 0 17px; font: 400 14px/40px $prelo;}
	}
}

.footer-section {padding: 0; color: $gray; box-sizing: border-box;
	&:first-child {padding-top: 40px;}
	.cta {margin-top: 0; font-size: 12px; line-height: 1.3em; text-align: left;}
	.cta-btn {display: block; margin-bottom: 10px; padding: 0 35px; border: 1px solid $gray; color: $gray; font: 400 17px/54px $prelo; text-align: center; text-transform: uppercase;
		&:hover {border-color: $orange; background: $orange; color: #fff;}
	}
	.copyright {margin: 0 0 0 20px; padding: 6px 0; font-size: 12px; text-align: center;}
	.legal {text-align: center;
		li {}
	}
}

.footer-nav {font-size: 0; text-align: center;}
.footer-menu {display: inline-block; width: 50%; margin-bottom: 40px; padding-left: 0; box-sizing: border-box;
	.footer-menu-title {margin: 0; color: #b4bcc1; font: 400 14px/1.3em $prelo; text-transform: uppercase;}
}

@media (min-width: 500px) {
	.footer .inside {font-size: 0; text-align: center;}
	.footer .social a {width: 56px; height: 56px;}
	.footer-section {padding-top: 40px;
		&:first-child {padding-left: 0;}
	}
	.footer .teasers {display: flex; align-items: stretch; align-content: stretch; justify-content: center; flex-wrap: wrap;}
	.footer-nav {text-align: left; white-space: nowrap;}
	.footer-menu {width: 33.333%; min-width: 140px; white-space: normal;}
}

@media (min-width: 750px) {
	.footer-section {display: inline-block; width: 50%; box-sizing: border-box;  vertical-align: top;}
	.footer-nav {max-width: 50%;}

}

@media (min-width: 800px) {
	
}

@media (min-width: 1100px) {
	.footer .inside {text-align: left; white-space: nowrap;}
	.footer-nav {max-width: 520px;}
	.footer-menu {min-width: 160px; padding-left: 30px;}
	.footer-section {width: auto; padding-left: 20px; padding-bottom: 40px; white-space: normal; vertical-align: top;
		.legal {float: left; text-align: left;}
		.copyright {text-align: left; padding: 6px 0 0 50px;}
	}
	.footer-section:first-child {padding-left: 0;}
}

@media (min-width: 1120px) {
	.footer-section {padding-left: 30px;}
	.footer-section:first-child {padding-left: 0;}
}
@media (min-width: 1150px) {
	.footer-section {padding-left: 45px;}
	.footer-section:first-child {padding-left: 0;}
}

@media (min-width: 1170px) {
	.footer {margin-top: 130px;
		.teasers {position: relative; top: -90px; margin-bottom: -90px;}
	}
	.footer-section {float: left; padding-left: 45px;
		&.social-section {float: right;}
	}
	
}